<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Does Not Exists</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="sidebar">
        <img src="/static/images/logo.png" alt="logo">
        <a href="/">Home</a>
    </div>
    <div class="main-content">
        <div class="title">
            <h1>{{field}} does not exists.</h1>
        </div>
    </div>
</body>
</html>